@model HotelReservationSystem.Models.RoomFacility

@*@model IEnumerable<HotelReservationSystem.Models.Room>*@

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<div class="container">
    @using (Html.BeginForm("ClassCreate", "Admin"))
    {
        @Html.AntiForgeryToken()

        <h3>Add New Class Type</h3>
        <hr />
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "teal" })
            <div class="col s4">
                @*@Html.LabelFor(model => model.RoomNo, htmlAttributes: new { @class = "col s3" })*@
                <p class="col s6">Class Type</p>
                <div class="col s6">
                    @Html.EditorFor(model => model.ClassType)
                    @Html.ValidationMessageFor(model => model.ClassType, "")
                </div>
            </div>

            <div class="col s4">
                @*@Html.LabelFor(model => model.ClassType, htmlAttributes: new { @class = "control-label col s3" })*@
                <p class="col s6">View</p>
                <div class="col s6">


                    @Html.EditorFor(model => model.View)
                    @Html.ValidationMessageFor(model => model.View, "")
                </div>
            </div>
            <div class="col s4">
                @*@Html.LabelFor(model => model.No_of_Guests, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <p class="col s6">Tv</p>
                <div class="col s6">
                    @Html.EditorFor(model => model.Tv)
                    @Html.ValidationMessageFor(model => model.Tv, "")
                </div>
            </div>
            <div class="col s4">
                @*@Html.LabelFor(model => model.No_of_Guests, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <p class="col s6">Wifi</p>
                <div class="col s6">
                    @Html.EditorFor(model => model.Wifi)
                    @Html.ValidationMessageFor(model => model.Wifi, "")
                </div>
            </div>
            <div class="col s4">
                @*@Html.LabelFor(model => model.No_of_Guests, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <p class="col s6">Guests per room</p>
                <div class="col s6">
                    @Html.EditorFor(model => model.No_of_Guests)
                    @Html.ValidationMessageFor(model => model.No_of_Guests, "")
                </div>
            </div>

            <div class="col s4">
                @*@Html.LabelFor(model => model.Reserved, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <p class="col s6">Price per person</p>
                <div class="col s6">
                    @Html.EditorFor(model => model.PricePerPerson)
                    @Html.ValidationMessageFor(model => model.PricePerPerson, "")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <input type="submit" value="Add Class" class="btn btn-default" />
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "ClassDetails")
        </div>
    }
</div>

